/opt-splunk-etc
/opt-splunk-var
sunny-mon.pem
/sunny_mon_opt-splunk-etc
.ipynb*
.ipython
.local
*.xlsx
__pycache__

*.log
*.idea
*.DS_Store

/data
/s3
AWSCLIV2.pkg
/services/mon-notebook/work/aws
/services/mon-notebook/work/converted
/services/mon-notebook/work/morai
/services/mon-notebook/work/DistilBERT-base-jp
docker-compose.yml
*.csv


